.search-bar-container {
  width: 400px;
  margin-top: 240px;

}

::placeholder {
  color: rgb(221, 209, 209);
}
.search-bar {
  background-color: var(--color-primary2);
  opacity: 70%;
  padding: 10px 20px;

  display: grid;
  grid-template-columns: 1fr 24px;
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-dark);
}

.search-bar__button {

  border: none;
  background-color: transparent;
}

.search-bar__input:focus {

  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
